/* Responsive Design */
@media screen and (max-width: 1400px) {
    .hero-img {
      width: 30%;
      height: 90%;
    }
    .hero-text {
      margin-left: 250px;
    }
    .hero-button {
      margin-top: 100px;
    }
    .about-text {
      width: 70%;
    }
  }
  
  @media screen and (max-width: 1000px) {
    .navbar h2 {
      display: none;
    }
    .navbar ul {
      width: 65%;
    }
    .hero-img {
      display: none;
    }
    .hero {
      height: calc(100vh - 250px);
      justify-content: center;
      margin-left: 0;
    }
    .about-text {
      width: 90%;
    }
    .card-container {
      justify-content: center;
    }
    .cards {
      width: 80%;
    }
  }
  
  @media screen and (max-width: 773px) {
    .hero-button {
      width: 300px;
      button {
        font-size: 18px;
        padding: 5px 50px;
      }
    }
    .hire {
      margin-bottom: 10px;
    }
    .about-text {
      width: 90%;
    }
    .cards {
      width: 90%;
    }
  }
  
  @media screen and (max-width: 530px) {
    .navbar ul {
      width: 85%;
    }
    .hero-text {
      width: 100%;
    }
    .hero-button {
      margin-top: 100px;
    }
    .hire {
      margin-bottom: 15px;
    }
    .cards {
      width: 90%;
      height: 720px;
    }
  }
  
  @media screen and (max-width: 420px) {
    .navbar ul {
      width: 90%;
    }
    .cards {
      width: 95%;
      height: 790px;
    }
  }
  