/* Ümumi qaydalar */
.hero {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 50px 50px;
}

.about-text {
  width: 100%;
}

.card-container {
  justify-content: center;
}

.cards {
  width: 95%;
  height: 790px;
}

#about {
  margin-top: 200px;
}

.skill-container {
  width: 100%;
}

/* Media sorğular */
@media screen and (max-width: 1300px) {
  .about-text {
    width: 70%;
  }
}

@media screen and (max-width: 830px) {
  .header::after,
  .header::before {
    position: absolute;
    content: "";
    width: 0%;
    transform: translate(0, 1200%);
  }
}

@media screen and (min-width: 800px) and (max-width: 1000px) {
  .navbar h2 {
    display: none;
  }

  .navbar ul {
    width: 65%;
  }

  .hero-img {
    display: none;
  }

  .hero {
    height: calc(100vh - 250px);
    justify-content: center;
    align-items: center;
    margin-left: 0;
  }

  .hero-text {
    margin-left: 0;
  }

  .hero-button {
    margin-top: 100px;
  }

  .about-text {
    width: 90%;
  }

  .cards {
    width: 80%;
  }
}

@media screen and (min-width: 773px) and (max-width: 800px),
  screen and (min-width: 680px) and (max-width: 773px),
  screen and (min-width: 530px) and (max-width: 680px),
  screen and (min-width: 460px) and (max-width: 530px),
  screen and (min-width: 420px) and (max-width: 460px),
  screen and (max-width: 420px) {
  .navbar h2 {
    display: none;
  }

  .navbar ul {
    width: 85%;
    font-size: 14px;
    font-weight: 400;
  }

  .hero-img {
    display: none;
  }

  .hero {
    height: calc(100vh - 250px);
    justify-content: center;
    align-items: center;
    margin-left: 0;
  }

  .hero-text {
    width: 60%;
    margin-left: 0;
  }

  .hero-button {
    margin-top: 100px;
  }

  .hire {
    margin-bottom: 15px;
  }

  .about-text {
    width: 100%;
  }

  .cards {
    width: 90%;
    height: auto;
  }
  /*  */
  .contact-container {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  form {
    width: 90%;
  }
  .contact-details {
    display: none;
  }
}

@media screen and (min-width: 460px) and (max-width: 530px) {
  .hire,
  .cv {
    padding: 5px 15px;
  }
  /* .cards {
    height: 680px;
  } */
}

/* @media screen and (min-width: 420px) and (max-width: 460px) {

  .hire {
    display: flex;
    padding: 9px 60px;
  }

  .cv {
    padding: 9px 15px;
  }
} */
@media screen and (max-width: 360px) {
  .nav .about-text {
    width: 100%;
    padding: 8px 9px;
  }
  .cards {
    width: 100%;
  }
  .navbar ul {
    width: 100%;
    justify-content: space-evenly;
  }
  .about-text {
    width: 100%;
    padding: 40px;
  }
  form {
    width: 100%;
  }
}
